body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
button {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  outline: none;
}

.delete {
  font-size: 12px;
  width: 68px;
}

button:hover {
  background-color: aliceblue;
}

/* .kbd-navigation .square:focus {
  background: #ddd;
} */

.App {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  /* justify-content: center; */
}

p {
  border: solid;
  height: 1.5em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  width: 122px;
}
